@import '../../resources/variables';

nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    list-style: none;

    background-color: $GREEN;
    border-radius: 5px;

    @media (max-width: 400px) {
      flex-direction: column;
    }
  }

  .category,
  .selected-category {
    flex-grow: 1;
    padding: 8px 12px;

    color: #ffffff;
    text-align: center;
    border-radius: 5px;

    &:hover {
      background-color: #00bc8c;
      cursor: pointer;
    }
  }
  .selected-category {
    background-color: #00bc8c;
  }
}

///00bc8c
