@import "../../resources/variables";

nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    list-style: none;

    background-color: $GREEN;
    border-radius: 5px;

    @media (max-width: 400px) {
      flex-direction: column;
    }
  }

  li {
    width: auto;

    text-align: center;

    &:hover {
      background-color: #00bc8c;
    }

    a {
      display: block;
      padding: 7px 5px;

      color: #ffffff;
      text-decoration: none;
    }
  }
}