@import "src/resources/variables";

.question {
  padding: 15px;
  background-color: $GRAY;

  display: grid;
  grid-area: question;
  grid-template-areas:
    "image name"
    "image player"
  ;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 4fr;

  border-radius: 5px;

  @media (max-width: 600px) {
    grid-template-areas:
      "image"
      "name"
      "player"
    ;

    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  img {
    grid-area: image;

    border-radius: 10px;

    @media (max-width: 600px) {
      margin: 0 auto;
    }
  }

  .question-bird-name {
    margin: 0;
    color: #ffffff;
    grid-area: name;

    border-bottom: 1px solid #555555;

    @media (max-width: 600px) {
      text-align: center;
    }
  }
}