.App {
    padding: 0 5%;

    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    ;
    grid-gap: 30px;

    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1300px;
    min-width: 350px;
    margin: 10px auto;
    background-color: #222222;
}

header {
    width: 100%;
    grid-area: header;

    .logo_score {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }

    h5 {
        font-size: 2rem;
        color: #ffffff;

        @media (max-width: 600px) {
            font-size: 1.5rem;
        }
    }
}

main {
    width: 100%;
    display: grid;
    grid-area: main;

    grid-template-areas:
        "question question"
        "answer-list bird-card"
    ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    @media (max-width: 600px) {
        & {
            grid-template-areas:
                "question"
                "answer-list"
                "bird-card"
            ;
            grid-template-columns: 1fr;
        }
    }
}

footer {
    width: 100%;
    grid-area: footer;
}