.App {
    display: grid;
    grid-template-areas:
        "header header"
        "body body"
        "footer footer"
    ;
}

body {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #222222;
}

header {
    width: 100%;
    grid-area: header;

    .logo_score {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }

    h5 {
        font-size: 2rem;
        color: #ffffff;
    }
}

main {
    width: 100%;
    background-color: yellow;
    grid-area: body;
}

footer {
    width: 100%;
    background-color: green;
    grid-area: footer;
}