@import "src/resources/variables";

.bird-card {
  display: grid;
  grid-template-areas:
    "image details"
    "description description"
  ;
  grid-template-columns: 1fr 2fr;
  grid-area: bird-card;
  grid-column-gap: 10px;
  padding: 15px;

  background-color: $GRAY;
  border: 1px solid #555555;
  border-radius: 5px;

  color: #ffffff;

  @media (max-width: 900px) {
    & {
      grid-template-areas:
        "image image"
        "details details"
        "description description"
      ;
    }
  }

  img {
    grid-area: image;
    width: 200px;
    height: 155px;
    object-fit: cover;

    border-radius: 10px;

    @media (max-width: 900px) {
      margin: 0 auto;
    }
  }

  .bird-card-details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #ffffff;

    .bird-card-name {
      margin: 0;
      padding-bottom: 10px;

      border-bottom: 1px solid #555555;
    }

    .bird-card-name-latin {
      margin-bottom: 10px;
      padding: 5px 0;

      border-bottom: 1px solid #555555;
    }
  }

  .bird-card-description {
    grid-area: description;

    margin: 0;
  }
}